:local(.navbar) {
  background-color: rgba(0,0,0,0.98);
  padding-left: 10%;
  padding-right: 10%;
}

:local(.navitem) {
  padding-right: 20px;
  font-variant: small-caps;
  font-size: 1rem;
}

:local(.navlink) {
  color: #ffffff;
  text-align: center;
}

:local(.navlink:hover) {
  color: #4286f4;
}

:local(.navActive) {
  text-decoration: underline;
  text-decoration-color: #4286f4;
}

:local(.dropdown) {
  background-color: transparent;
}

:local(.dropdownToggle) {
  background-color: inherit;
  color: #ffffff;
}

:local(.dropdownToggle:hover) {
  color: #ffffff;
  text-decoration: none;
}

:local(.dropdownToggle:active) {
  color: #ffffff;
  text-decoration: none;
}

:local(.dropdownMenu) {
  background-color: inherit;
  color: white
}

:local(.dropdownItem) {
  background-color: inherit;
  color: #ffffff;
}

:local(.dropdownItem:hover) {
  background-color: inherit;
  color: #ffffff;
}

.selected {
  color:#4286f4;
}

.selected:after {
  content:"";
  color:#4286f4;
  border-bottom: 3px solid #4286f4;
  padding-bottom:5px;
  width:80%;
  display:block;
  margin:auto;
}
