:local(.navbar) {
  background-color: rgba(0,0,0,0.98);
  padding-left: 10%;
  padding-right: 10%;
}

:local(.navitem) {
  padding-right: 20px;
  text-transform: uppercase;
  font-size: 14px;
}

:local(.navlink) {
  color: #ffffff;
  text-align: center;
}

/* Maybe add underline effect as in mockups? Replace text color change? */
:local(.navlink:hover) {
  color: #4286f4;
}
