# See https://help.github.com/ignore-files/ for more about ignoring files.

# javascript dependencies
node_modules/

# python bytecode
__pycache__/

# sensitive (private) values
.env

# editor-specific settings
.vscode

# platform-specific files
.DS_Store
