:local(.td1) {
  border-bottom: 0.5px solid grey;
}

:local(.td2) {
  border-bottom: 0.5px solid grey;
  border-right: 0.5px solid grey;
}

:local(.td3) {
  border-right: 0.5px solid grey;
}

td {
  padding: 15px;
  text-align: center;
}

:local(.hr) {
  border: 1px solid black;
  width: 100%;
  margin-top: 1px;
}

:local(.headerContainer) {
  display: inline-flex;
  padding: 2% 0 2% 0;
  overflow: hidden;
  width: 100%;
}

:local(.informationContainer) {
  float: left;
  margin-left: 5%;
}

:local(.logo) {
  float: right;
  height: auto;
  width: 180px;
}

:local(.symbol) {
  font-size: 48px;
  margin-bottom: 1rem;
}

:local(.companyNameAndExchange) {
  font-size: 24px;
  margin-bottom: 1rem;
}

:local(.sectorAndIndustry) {
  font-size: 18px;
  margin-bottom: 1rem;
}

:local(.favoriteIcon) {
  vertical-align: text-top;
  font-size: .5em;
  color: #eae246;
  cursor: pointer;
}

:local(.chartHeader) {
  margin-top: 2px;
  padding-top: 10px;
  text-align: center;
}

:local(.chartContainer) {
  justify-content: center;
  display: flex;
}

:local(.gaugeContainer) {
  float: left;
  margin-left: 5%;
}

:local(.tableContainer) {
  float: right;
  margin-right: 5%;
}

:local(.gauge) {
  margin-top: 5%;
  margin-bottom: 2%;
  width: 200px;
  height: auto;
}

:local(.container) {
  padding-bottom: 30px;
}

:local(.chart) {
  justify-content: center;
}
