:local(.td1) {
  border-bottom: 0.5px solid grey;
}

:local(.td2) {
  border-bottom: 0.5px solid grey;
  border-right: 1px solid grey;
}

:local(.td3) {
  border-right: 1px solid grey;
}

td {
  padding: 15px;
  text-align: center;
}

:local(.hr2) {
  border: 1px solid black;
  width: 100%;
  margin-top: 1px;
}

:local(.hr1) {
  border: 1px solid black;
  width: 4%;
  margin-top: 1px;
}

Row {
  justify-content: center;
}

:local(.rowLeft) {
  float: left;
}

:local(.rowRight) {
  float: right;
}

h1 {
  padding-top: 15px;
}

/* :local(h2) {
  margin-bottom: 5%;
} */

h3 {
   margin-top: 2px;
   padding-top: 10px;
}

.radialAnimation{
  margin-top: 5%;
  margin-bottom: 2%;
  width: 200px;
  height: 200px;
}
:local(.containerStyling) {
  padding-bottom:30px;
}
:local(.chart) {
  justify-content: center;
}
