:local(.td1) {
  border-bottom: 0.5px solid grey;
}

:local(.td2) {
  border-bottom: 0.5px solid grey;
  border-right: 0.5px solid grey;
}

:local(.td3) {
  border-right: 0.5px solid grey;
}

td {
  padding: 15px;
  text-align: center;
}

:local(.hr) {
  border: 1px solid black;
  width: 100%;
  margin-top: 1px;
}

:local(.row) {
  margin: 2% auto 1% auto;
}

:local(.logoContainer) {
  text-align: right;
  line-height: 200px;
  max-height: 200px;
}

:local(.logo) {
  max-height: 200px;
  width: 180px;
}

:local(.descriptionContainer) {
  text-align: left;
}

:local(.symbol) {
  font-size: 48px;
  margin-bottom: 1rem;
}

:local(.companyNameAndExchange) {
  font-size: 24px;
}

:local(.sectorAndIndustry) {
  font-size: 18px;
}

:local(.favoriteIcon) {
  vertical-align: text-top;
  font-size: .5em;
  color: #eae246;
  cursor: pointer;
}

:local(.chartHeader) {
  margin: 2% auto 1% auto;
  text-align: center;
}

:local(.chartFooter) {
  margin: 1% auto 1% auto;
  text-align: center;
}

:local(.chartContainer) {
  justify-content: center;
  display: flex;
}

:local(.gaugeContainer) {
  padding-left: 60px;
}

:local(.gauge) {
  width: 200px;
  height: auto;
}

:local(.tableContainer) {
  float: right;
  padding-right: 60px;
}

:local(.table) {
  float: right;
}

:local(.container) {
  margin: auto auto 2% auto;
}

:local(.chart) {
  justify-content: center;
}

.recharts-surface {
  overflow: visible;
}
