:local(.container) {
  margin: 0% auto 1% auto;
  border: 1px solid #d3d3d3;
  border-radius: 1%;
  background: #ffffff;
  width: 30%;
  padding: 4%;
}

:local(.alert) {
  margin-top: 1%;
  margin-left: 10%;
  margin-right: 10%;
}

:local(.preFormText) {
  margin: 2% auto auto auto;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}
