:local(.chart) {
  margin: 1% auto 0% auto;
  text-align: center;
}

:local(.preFormText) {
  margin: -2% auto 0% auto;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

:local(.container) {
  margin: 0% auto 1% auto;
  width: 35%;
}
