:local(.navbar) {
  background-color: rgba(0,0,0,0.98);
  padding-left: 10%;
  padding-right: 10%;
  min-height: 65px;
  bottom: 0;
  width: 100%;
  position: absolute;
}

:local(.navitem) {
  margin: auto;
}

:local(.copyright) {
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-variant: normal;
  margin: auto;
}
