@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

:local(.buttonContainer) {
  text-align: center;
  margin: 2%;
}

:local(.button) {
  color: white;
  padding: 0;
}

:local(.chart) {
  margin: 1% auto 0% auto;
  text-align: center;
}

:local(.title) {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin: 2% auto auto auto;
}

:local(.supportText) {
  margin: 2% auto auto auto;
  text-align: center;
}

:local(.teamParagraph) {
  margin-top:4%;
  text-align: justify;
}

:local(.rightTeamImage) {
  height: 150px;
}

:local(.row) {
  margin: auto;
  width: 80%;
  padding-bottom: 20px;
}
