@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

:local(.containerFrame1) {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("assets/skyline.jpg") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  margin:auto;
  height: 95vh;
}

:local(.containerFrame2) {
  margin:auto;
  margin-top:20px;
}

/* Content Area might end up being global as different frames will use this */
:local(.contentArea) {
  width: 1080px;
  margin:auto;
  padding-top:12%;
}

:local(.projectName) {
  text-align: center;
  color: #ffffff;
  font-family: 'Fira Mono', monospace;
  font-size: 60px;
  margin:auto;
  margin-bottom:100px;
  width:770px;
}

:local(.projectTagline) {
  color: #ffffff;
  font-family: 'Fira Mono', monospace;
  text-align: center;
  margin: auto;
  padding-bottom: 1%;
}

:local(.learnMoreButton) {
  color:white;
  border: 2px solid white;
  font-size: 18px;
  font-family:'Fira Mono', monospace;
  width: 150px;
  height: 40px;
  background-color: transparent;
  transition: all 0.5s;
  cursor:pointer;
}

:local(.learnMoreButton:hover) {
  box-shadow: inset 0 0 0 3px black;
  background-color:white;
  color:black;
}

:local(.learnMoreButton:hover:after) {
  opacity: 1;
  transition: 0.5s;
}

:local(.darkContentSeperator) {
  background-color:black;
  color:white;
  text-align:center;
  padding:20px 0;
}

:local(.mediaCardContainer) {
  justify-content: center;
  padding-bottom:40px;
  text-align: center;
}

:local(.mediaCard) {
  cursor: pointer;
}
:local(.contentSeperatorRight) {
  margin-right:10%;
}
:local(.contentSeperatorLeft) {
  margin-left:10%;
}
:local(.informationHeader) {
  padding-bottom:20px;
  margin-right:80px;
}
:local(.homePageRow) {
  margin-bottom: 30px;
}
:local(.buttonDiv) {
  text-align:center;
  padding:20px;
}

hr.light {
  width: 10%;
  border-top: 1px solid white;
  padding-bottom:30px;
  margin-top:60px;
}

hr.dark {
  width: 10%;
  border-top: 4px solid #4286f4;
  padding-bottom:30px;
  margin-top:15px;
}

:local(.centerButtonDiv) {
  margin:auto;
  text-align:center;
}

.FrameTitleText {
  font-size:20px;
  color:black;
  text-align:center;
}

:local(h2) {
  font-size:22px;
  margin:0;
}

:local(p) {
  color: grey;
}

/* Needed to add the px definition so the cursor border wouldn't go crazy. */
.typewriter {
  width: 770px;
  margin: auto;
}

.typewriter h1 {
  text-align: center;
  color: #ffffff;
  border-right: .07em solid #4286f4;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */

  animation:
    typing 3s steps(30, end),
    blink-caret 0.7s step-end infinite ;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color:transparent }
  50% { border-color: #4286f4; }
}
