@import url('https://fonts.googleapis.com/css?family=Fira+Mono');

:local(.accountFormRow) {
  justify-content: center;
}

:local(.submitButtonCol) {
  margin: 32px 0 auto 0;
}

:local(.memberHeaderInformation) {
  text-align: center;
  justify-content: center;
}

:local(.hr) {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  width: 50%;
}

:local(.preText) {
  margin: 2% auto auto auto;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}

:local(.chart) {
  margin: 1% auto 0% auto;
  text-align: center;
}

.media-body {
  margin-top: 20px;
}
