@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');


html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
  background: #f9f9f9;
}

html {
  scroll-behavior: smooth;
}
