@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  background: #f9f9f9;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}
